@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Beyond Basics</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="text-center">
    <h1 class="display-4">Version 2</h1>
    <p>
        The list of changes
    </p>
    <li>
        <ul>Added a new page</ul>
        <ul>Added a new page</ul>
        <ul>Added a new page</ul>
        <ul>Added a new page</ul>
    </li>
</div>
